<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  </head>
  <body>
  	<p class="text-warning bg-warning center-block text-center">用户名或密码错误</p>
  	<button style="display: block;margin: 0 auto;" class="btn btn-primary" onclick="location.href='/'">回到首页</button><br />
  	<button style="display: block;margin: 0 auto;" class="btn btn-info" onclick="location.href='/register'">无账号去注册</button>
  </body>
</html>

