<!DOCTYPE html>
<html>
  <head>
    <title>我和篮球</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <style type="text/css">
    	h1{
    		text-align: center;
    		font-size: 66px;
    	}
    </style>
  </head>
  <body>
  	<%- include('header.ejs') %>
  	<%- include('me.ejs') %>
  	<h1 style="font-size: 66px;">About me </h1>
  	<div class="row">
    <div class="col-sm-6 col-md-3">
         <div class="thumbnail">
            <img src="/images/IMG_0587.JPG" 
             alt="通用的占位符缩略图">
            <div class="caption">
                <h3>背影的背后</h3>
                <p>我想在阳光最明媚的午后打一场酣畅淋漓的篮球</p>
            </div>
         </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="/images/IMG_0668.JPG" 
            alt="通用的占位符缩略图">
            <div class="caption">
                <h3>时光穿梭机</h3>
                <p>希望我们能在青春里留下最美好的时光</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="/images/IMG_0894.JPG" 
            alt="通用的占位符缩略图">
            <div class="caption">
                <h3>成长轨迹</h3>
                <p>热爱生活其实很简单，就是做你喜欢做的事</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="/images/IMG_0937.JPG" 
            alt="通用的占位符缩略图">
            <div class="caption">
                <h3>夜空中最亮的星</h3>
                <p>期待你被岁月温柔以待</p>
            </div>
        </div>
    </div>
</div>
<h1 style="font-size: 66px;">About basketball </h1>

<!--
	作者：302701088@qq.com
	时间：2017-06-10
	描述：basketball
-->
<div class="row">
    <div class="col-sm-6 col-md-3">
         <div class="thumbnail">
            <img src="/images/托马斯.JPG" 
             alt="通用的占位符缩略图">
            <div class="caption">
                <h3>最接近梦想的人</h3>
                <p>175的身高能在NBA打出如今的成就，以赛亚托马斯是我的精神领袖</p>
            </div>
         </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="/images/库里.JPG" 
            alt="通用的占位符缩略图">
            <div class="caption">
                <h3>一人改变整个联盟</h3>
                <p>变态的三分，熟练的运球都是现在很多人模仿的对象，希望回到主场能夺得总冠军</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="/images/威少.JPG" 
            alt="通用的占位符缩略图">
            <div class="caption">
                <h3>单核带队</h3>
                <p>变态的身体素质，打破三双记录</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="/images/欧文.JPG" 
            alt="通用的占位符缩略图">
            <div class="caption">
                <h3>德鲁大叔</h3>
                <p>风骚的运球，强大的个人单打能力</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="/images/沃尔.JPG" 
            alt="通用的占位符缩略图">
            <div class="caption">
                <h3>速度最快的后卫</h3>
                <p>拥有联盟最快的推进速度，强大的爆发能力，而且传球能力出众未来看你的</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="/images/哈登.JPG" 
            alt="通用的占位符缩略图">
            <div class="caption">
                <h3>贫民窟出来的超级巨星</h3>
                <p>哈登17赛季的蜕变众人皆知，下赛季期待他的表现</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="/images/沃克.JPG" 
            alt="通用的占位符缩略图">
            <div class="caption">
                <h3>动作最风骚的后卫</h3>
                <p>喜欢他的风骚动作，以及他的各种传球，mini版沃尔</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="/images/乔治.JPG" 
            alt="通用的占位符缩略图">
            <div class="caption">
                <h3>王者归来</h3>
                <p>我最佩服的球星之一，断腿重新归来还能恢复之前的状态，强大的意志力</p>
            </div>
        </div>
    </div>
</div>
  </body>
</html>